<div class="justify-center flex items-center h-full bg-gray-100">
  <div class="sm:w-1/2 md:w-1/3 lg:w-1/4 shadow p-5 bg-white">
  
    <div class="text-xl mb-5">Login</div>
    <form nz-form [formGroup]="loginForm" (ngSubmit)="login()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="username" placeholder="Username" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group nzPrefixIcon="lock">
            <input type="password" nz-input formControlName="password" placeholder="Password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Log in</button>
    </form>

  </div>  
</div>  