<nz-page-header [nzGhost]="false" (nzBack)="goToBack()" nzBackIcon>
  <nz-page-header-title>New Role</nz-page-header-title>
</nz-page-header>

<form nz-form nzLayout="vertical" [formGroup]="form" (ngSubmit)="save()">
  <nz-card nzTitle="Role Information" class="m-4">
    <div nz-row nzGutter="24">
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-label>Role Name</nz-form-label>
          <nz-form-control nzErrorTip="Role name is required">
            <input nz-input formControlName="name" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <nz-table #basicTable [nzData]="dataSet" [nzFrontPagination]="false">
      <thead>
        <tr>
          <th>Permission</th>
          <th><div class="text-center">Read</div></th>
          <th><div class="text-center">Create</div></th>
          <th><div class="text-center">Edit</div></th>
          <th><div class="text-center">Delete</div></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let permission of basicTable.data">
          <td>{{ permission.name }}</td>
          <td
            [nzChecked]="permission.view"
            (nzCheckedChange)="onViewChecked(permission, $event)"
          ></td>
          <td
            [nzChecked]="permission.add"
            (nzCheckedChange)="onCreateChecked(permission, $event)"
          ></td>
          <td
            [nzChecked]="permission.edit"
            (nzCheckedChange)="onEditChecked(permission, $event)"
          ></td>
          <td
            [nzChecked]="permission.delete"
            (nzCheckedChange)="onDeleteChecked(permission, $event)"
          ></td>
        </tr>
      </tbody>
    </nz-table>
  </nz-card>

  <div class="m-4">
    <button
      nz-button
      type="submit"
      nzSize="large"
      nzType="primary"
      [nzLoading]="isSaving"
    >
      Save
    </button>
    <button nz-button type="button" nzSize="large" (click)="goToBack()">
      Cancel
    </button>
  </div>
</form>
