<nz-page-header [nzGhost]="false">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>Home</nz-breadcrumb-item>
    <nz-breadcrumb-item>Implementation Orders</nz-breadcrumb-item>
    <nz-breadcrumb-item>IO#M112</nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-page-header-title>IO#M112</nz-page-header-title>
</nz-page-header>

<nz-card class="m-4">
  <nz-descriptions nzBordered>
    <nz-descriptions-item nzTitle="Account Executive"></nz-descriptions-item>
    <nz-descriptions-item nzTitle="Radio Station"></nz-descriptions-item>
    <nz-descriptions-item nzTitle="Client"></nz-descriptions-item>
    <nz-descriptions-item nzTitle="Agency"></nz-descriptions-item>
    <nz-descriptions-item nzTitle="Date"></nz-descriptions-item>
    <nz-descriptions-item nzTitle="Product"></nz-descriptions-item>
    <nz-descriptions-item nzTitle="Tagline"></nz-descriptions-item>
    <nz-descriptions-item nzTitle="Total Cost"></nz-descriptions-item>
  </nz-descriptions>
</nz-card>

<nz-card class="m-4">
  <nz-descriptions nzBordered>
    <nz-descriptions-item nzTitle="Booking Order No"></nz-descriptions-item>
    <nz-descriptions-item nzTitle="Purchase Order No"></nz-descriptions-item>
    <nz-descriptions-item nzTitle="Reference CE No"></nz-descriptions-item>
  </nz-descriptions>
</nz-card>

<nz-card class="m-4" nzTitle="Bookings">
  <nz-table>
    <thead>
      <tr>
        <th>Station</th>
        <th>Period</th>
        <th>Material</th>
        <th>Qty</th>
        <th>Duration</th>
        <th>Gross</th>
      </tr>
    </thead>
    <tbody>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tbody>
  </nz-table>
</nz-card>
